@import "../../fonts/concertone.css";

/*
(team) (gameinfo) (team)
        (gameinfo round)
      (seriesinfo)

Total width = 944
Team  = 340
Gameinfo = 264px
Gameinfo round = 496px
Seriesinfo (BO3) = 530px
*/

/*Side colours*/
.t {
  color: var(--color-t);
}

.ct {
  color: var(--color-ct);
}

/*Keyframes*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Timer css*/
.timer {
  position: fixed;
  top: 10px;
  left: 915px;
  background-color: #1a1a1a;
  width: 90px;
  height: 90px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: grid;
  align-items: center;
  justify-items: center;
}

.timerShadow {
  position: fixed;
  top: 8px;
  left: 913px;
  background-color: white;
  width: 94px;
  height: 94px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: grid;
  align-items: center;
  justify-items: center;
}

.timerText {
  color: white;
  font-family: "Concert One";
  font-size: 20px;
}

.timerBombImage {
  filter: var(--bomb-filter);
  height: 45px;
  animation: blink 1s;
  animation-iteration-count: infinite;
}

.timerDefuseImage {
  filter: var(--defuse-filter);
  height: 45px;
  animation: blink 1s;
  animation-iteration-count: infinite;
}

/*Team css*/
.team {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  border-radius: 5px;
  top: 25px;
  height: 60px;
  width: 470px;
  display: grid;
  align-items: center;
}

.teamLeft {
  left: 480px;
  grid-template-columns: 60px 260px 130px;
  column-gap: 10px;
  grid-template-areas: "logo name score";
}

.teamRight {
  right: 480px;
  grid-template-columns: 130px 260px 60px;
  column-gap: 10px;
  grid-template-areas: "score name logo";
}

.teamLogo {
  grid-area: logo;
  display: grid;
  align-items: center;
}

.teamLogoImage {
  max-height: 50px;
}

.teamLeftLogo {
  justify-items: start;
  margin-left: 10px;
}

.teamRightLogo {
  justify-items: end;
  margin-right: 10px;
}

.teamName {
  grid-area: name;
  font-family: "Concert One";
  color: white;
  font-size: 30px;
  justify-self: center;
  text-transform: uppercase;
}

.teamScore {
  grid-area: score;
  height: 60px;
  background-color: black;
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: "Concert One";
  font-size: 25px;
}

.teamLeftScore {
  clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
}

.teamLeftScoreShadowt {
  filter: drop-shadow(-2px 0px 1px var(--color-t));
}

.teamLeftScoreShadowct {
  filter: drop-shadow(-2px 0px 1px var(--color-ct));
}

.teamRightScore {
  clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}

.teamRightScoreShadowt {
  filter: drop-shadow(2px 0px 1px var(--color-t));
}

.teamRightScoreShadowct {
  filter: drop-shadow(2px 0px 1px var(--color-ct));
}

/*Game info */
/*(10px)(100px)(10px)(90px)(10px)(60px)(10px)(90)(10px)(100px)(10px)*/
.gameInfo {
  position: fixed;
  width: 500px;
  height: 25px;
  left: 710px;
  top: 85px;
  background-color: #1a1a1a;
  border-radius: 5px;
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: "Concert One";
  font-size: 15px;
  color: rgb(189, 189, 189);
  grid-template-columns: 100px 100px 60px 100px 100px;
  column-gap: 10px;
}

.seriesLength1 {
  grid-template-columns: 20px;
}

.seriesLength3 {
  grid-template-columns: 20px 20px;
}

.seriesLength5 {
  grid-template-columns: 20px 20px 20px;
}

.seriesWinsLeft {
  display: grid;
  align-items: center;
  justify-items: start;
  column-gap: 5px;
}

.seriesWinsRight {
  display: grid;
  align-items: center;
  justify-items: end;
  column-gap: 5px;
}

.gameInfoRounds {
  justify-self: end;
}

.gameInfoSeriesLength {
  justify-self: start;
}

.seriesDot {
  height: 10px;
  width: 20px;
  background-color: #bbb;
  border-radius: 20%;
}

.ctDot {
  background-color: var(--color-ct);
}

.tDot {
  background-color: var(--color-t);
}
/*
.matchBar {
  position: fixed;
  top: 30px;
  left: 480px;
  height: 50px;
  width: 960px;
  background-color: var(--color);
  border-radius: 5px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 425px 110px 425px;
}

.roundInfo {
  color: white;
  font-family: "Concert One";
  width: 110px;
}

.roundNo {
  font-size: 13px;
}

.roundTimer {
  font-size: 27px;
}

.team {
  display: grid;
  align-items: center;
  width: 428px;
  color: var(--color-white);
  font-family: "Concert One";
  font-size: 30px;
}

#teamLeft {
  grid-template-columns: 56px 266px 70px 34px;
}

#teamRight {
  grid-template-columns: 34px 70px 266px 56px;
}

.teamName {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.teamSeries {
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: grid;
  align-items: center;
  justify-items: center;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: var(--color);
  border-radius: 50%;
}

.dotWin {
  background-color: white;
}

.tBackground {
  background-color: var(--color-t);
}

.ctBackground {
  background-color: var(--color-ct);
}

.t {
  color: var(--color-t);
}

.ct {
  color: var(--color-ct);
  fill: var(--color-ct);
}

.teamLogo {
  width: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.infoBar {
  position: fixed;
  top: 5px;
  left: 605px;
  height: 23px;
  width: 710px;
  background-color: var(--color);
  color: var(--color-white);
  font-family: "Concert One";
  font-size: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 305px 100px 305px;
  border-radius: 5px;
}

.logo {
  width: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
}

.teamInfoBar {
  width: 320px;
  height: 50px;
  top: 82px;
  left: 800px;
  position: fixed;
  border-radius: 5px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 96px 118px 96px;
  background-color: var(--color);
  font-family: "Concert One";
  color: white;
}

.info {
  display: grid;
  width: 100px;
  align-items: center;
  justify-items: center;
  font-size: 15px;
  color: var(--color-moneys);
  grid-template-rows: 25px 25px;
}

.left {
  grid-template-columns: 70px 36px;
}

.right {
  grid-template-columns: 36px 70px;
}

.equipmentInfo {
  display: grid;
  align-items: center;
  justify-items: center;
}

.lossBonusInfo {
  display: grid;
  align-items: center;
  justify-items: center;
}

.equipmentImage {
  filter: brightness(0) invert(1);
  width: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
}

.titles {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 22px 27px;
}

.tImage {
  filter: brightness(0) saturate(100%) invert(55%) sepia(35%) saturate(6675%)
    hue-rotate(359deg) brightness(101%) contrast(102%);
}

.ctImage {
  filter: brightness(0) saturate(100%) invert(31%) sepia(46%) saturate(3818%)
    hue-rotate(219deg) brightness(100%) contrast(102%);
}

.bombBar {
  width: 960px;
  height: 20px;
  display: grid;
  top: 82px;
  position: fixed;
  left: 480px;
  border-radius: 5px;
  background-color: var(--color);
  column-gap: 10px;
  grid-template-columns: 430px 35px 35px 430px;
  align-items: center;
  justify-items: center;
}

.bombTimer {
  height: 10px;
  width: 420px;
  border-radius: 2px;
  background-color: #ff6e00;
}

.defuseTimer {
  height: 10px;
  width: 420px;
  border-radius: 2px;
}

.hidden {
  visibility: hidden;
}

.bombImage {
  width: 20px;
  filter: brightness(0) saturate(100%) invert(86%) sepia(42%) saturate(2787%)
    hue-rotate(330deg) brightness(90%) contrast(94%);
}

.defuserImage {
  width: 20px;
  filter: brightness(0) saturate(100%) invert(47%) sepia(15%) saturate(1325%)
    hue-rotate(181deg) brightness(94%) contrast(87%);
}

.roundBomb {
  width: 110px;
  background-color: var(--color-red);
  height: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.roundBombImage {
  width: 90px;
  height: 40px;
  filter: brightness(0) invert(100%);
}

.bombClass {
  font-size: 25px;
}

/*
font-family: "Concert One";

Idk
100px 110px 100px

matchBar
1920 - 960 = 960 / 2 = 480




infoBar
*/
