@import "../../fonts/concertone.css";

.ct {
  filter: brightness(0) saturate(100%) invert(37%) sepia(36%) saturate(3816%)
    hue-rotate(188deg) brightness(105%) contrast(102%);
}

.t {
  filter: brightness(0) saturate(100%) invert(46%) sepia(29%) saturate(7273%)
    hue-rotate(6deg) brightness(110%) contrast(102%);
}

.ctBackground {
  background-color: var(--color-ct);
}

.tBackground {
  background-color: var(--color-t);
}

.rplayersContainer {
  width: 290px;
  height: 446px;
  display: grid;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 38px;
  grid-template-rows: 86px 86px 86px 86px 86px;
  row-gap: 4px;
}

.rplayerAlive {
  height: 86px;
  width: 290px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 30px 1px 55px;
  background-color: var(--color);
  border-radius: 5px;
  font-family: "Concert One";
  color: white;
}

.rplayerATop {
  height: 30px;
  width: 290px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 115px 120px 20px 35px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.rplayerHP {
  filter: drop-shadow(0px 0px 1px black);
  justify-self: center;
  font-size: 20px;
}

.rplayerNo {
  justify-self: center;
  filter: drop-shadow(0px 0px 1px black);
}

.rplayerName {
  justify-self: end;
  align-self: center;
  font-size: 18px;
  filter: drop-shadow(0px 0px 1px black);
}

.rweaponPrimary {
  max-height: 28px;
  filter: brightness(0) saturate(100%) invert(73%) sepia(1%) saturate(1369%)
    hue-rotate(244deg) brightness(85%) contrast(78%);
  justify-self: start;
  filter: drop-shadow(0px 0px 1px black);
  transform: scaleX(-1);
}

.active {
  filter: brightness(0) invert(100%);
  filter: drop-shadow(0px 0px 1px black);
}

.rbar {
  width: 290px;
  background-color: white;
  height: 1px;
}

.rplayerABottom {
  width: 55px;
  width: 290px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 135px 60px 60px 35px;
  grid-template-rows: 28px 28px;
  grid-template-areas:
    "util stats stats equipment"
    "roundKills spent cash armour";
}

.rplayerEquipment {
  grid-area: equipment;
}

.requipmentImage {
  max-height: 25px;
  filter: brightness(0) invert(100%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rplayerStats {
  grid-area: stats;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 12px 12px 12px 12px 12px 12px;
}

.rplayerUtil {
  grid-area: util;
  display: grid;
  align-items: center;
  justify-items: end;
  grid-template-columns: 25px 25px 25px 25px;
}

.rutilImage {
  max-height: 20px;
  filter: brightness(0) invert(100%);
}

.rplayerArmour {
  grid-area: armour;
}

.rarmourImage {
  max-height: 20px;
  filter: brightness(0) invert(100%);
}

.rplayerCash {
  grid-area: cash;
  color: var(--color-moneys);
}

.rplayerSpent {
  grid-area: spent;
}

.rroundKills {
  grid-area: roundKills;
  display: grid;
  grid-template-columns: 25px 20px;
  align-items: center;
  justify-items: center;
}

.rplayerDead {
}
