.controlsContainer {
  position: fixed;
  width: 1050px;
  display: grid;
  align-items: start;
  justify-items: start;
  left: 50px;
  top: 5px;
  font-size: 12px;
  grid-template-columns: 500px 800px;
  row-gap: 20px;
  grid-template-areas:
    "teams controls"
    "games games";
  column-gap: 50px;
}

.teamsForm {
  grid-area: teams;
}

input[type="text"] {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.line {
  width: 500px;
}

.controlsControlsContainer {
  grid-area: controls;
}

.controlsGamesContainer {
  grid-area: games;
  display: grid;
  grid-template-rows: 70px 260px 20px;
  width: 500px;
}

.controlsGamesGameContainer {
  width: 500px;
  display: grid;
  grid-template-columns: 180px 180px 180px 180px 180px 180px 180px 180px;
  align-items: center;
  height: 50px;
  column-gap: 6px;
}
