.playerAliveContainer {
  display: grid;
  width: 355px;
  height: 70px;
  background-color: #1a1a1a;
  border-radius: 5px;
}

.playerAliveContainerLeft {
  display: grid;
  grid-template-columns: 65px 70px 220px;
  grid-template-areas: "image health rest";
}

.playerAliveContainerRight {
  display: grid;
  grid-template-columns: 220px 70px 65px;
  grid-template-areas: "rest health image";
}

.playerAliveImageContainer {
  grid-area: image;
  display: grid;
  align-items: end;
}

.playerAliveImage {
  height: 65px;
  width: 65px;
}

.playerAliveHealthContainer {
  grid-area: health;
  align-self: center;
  display: grid;
  align-items: center;
  justify-items: center;
}

.playerAliveHealth {
  background-color: #1a1a1a;
  width: 60px;
  height: 60px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: grid;
  align-items: center;
  justify-items: center;
  color: white;
  font-family: "Concert One";
}

.playerAliveRestContainer {
  grid-area: rest;
  display: grid;
  align-items: center;
  grid-template-rows: 30px 12px 28px;
}

.playerAliveTopContainer {
  display: grid;
  align-items: center;
  color: white;
  font-family: "Concert One";
  font-size: 15px;
  text-transform: uppercase;
}

.playerAliveTopContainerLeft {
  grid-template-columns: 95px 80px 40px;
  grid-template-areas: "name kda kills";
}

.playerAliveTopContainerRight {
  grid-template-columns: 40px 80px 95px;
  grid-template-areas: "kills kda name";
}

.playerAliveName {
  grid-area: name;
}

.playerAliveNameLeft {
  justify-self: start;
}

.playerAliveNameRight {
  justify-self: end;
}

.playerAliveKDA {
  grid-area: kda;
  justify-self: center;
}

.playerAliveRoundKillsContainer {
  grid-area: kills;
  display: grid;
  align-items: center;
  text-transform: lowercase;
}

.playerAliveRoundKillsContainerLeft {
  justify-self: end;
  justify-content: center;
  grid-template-columns: 20px 10px 10px;
  grid-template-areas: "img x kills";
}

.playerAliveRoundKillsContainerRight {
  justify-self: start;
  justify-content: center;
  grid-template-columns: 10px 10px 20px;
  grid-template-areas: "kills x img";
}

.playerAliveRoundKillsImage {
  height: 15px;
  grid-area: img;
}

.playerAliveRoundKills {
  grid-area: kills;
}

.playerAliveHealthBarContainer {
  display: grid;
  align-items: center;
}

.playerAliveHealthBar {
  width: 210px;
  height: 5px;
  border-radius: 5px;
  outline-style: inset;
  outline-width: 1px;
}

.playerAliveHealthBarLeft {
  justify-self: start;
}

.playerAliveHealthBarRight {
  justify-self: end;
}

.playerAliveBottomContainer {
  display: grid;
  align-items: center;
  column-gap: 5px;
}

.playerAliveBottomContainerLeft {
  grid-template-columns: 12px 50px 65px 15px 60px;
  grid-template-areas: "armour eco util equipment weapons";
  justify-items: start;
}

.playerAliveBottomContainerRight {
  grid-template-columns: 60px 15px 65px 50px 12px;
  grid-template-areas: "weapons equipment util eco armour";
  justify-items: end;
}

.playerAliveArmourContainer {
  grid-area: armour;
  display: grid;
  align-items: center;
}

.playerAliveArmourImage {
  width: 15px;
  filter: brightness(0) invert(100%);
}

.playerAliveEco {
  font-family: "Concert One";
  color: var(--color-moneys);
  grid-area: eco;
}

.playerAliveUtilContainer {
  grid-area: util;
  display: grid;
  align-items: center;
  justify-items: center;
  column-gap: 3px;
  grid-template-columns: 15px 15px 15px 15px;
}

.playerAliveUtilImage {
  max-height: 20px;
  filter: brightness(0) invert(100%);
}

.playerAliveEquipmentContainer {
  grid-area: equipment;
  display: grid;
  align-items: center;
}

.playerAliveEquipmentImage {
  filter: brightness(0) invert(100%);
  height: 20px;
}

.playerAliveWeaponContainer {
  display: grid;
  align-items: center;
}

.playerAliveWeaponPrimaryRight {
  justify-self: end;
  transform: scaleX(-1);
}

.playerAliveWeaponPrimary {
  width: 50px;
  max-height: 25px;
  filter: brightness(0) saturate(100%) invert(73%) sepia(1%) saturate(1369%)
    hue-rotate(244deg) brightness(85%) contrast(78%);
  filter: drop-shadow(0px 0px 1px black);
}

.playerAliveWeaponPrimaryLeft {
  justify-self: start;
}

.active {
  filter: brightness(0) invert(100%);
  filter: drop-shadow(0px 0px 1px black);
}

/*this.props.player.weapons[key].name*/
