@import "fonts/montserrat.css";

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", "sans-serif", "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color: #1d2b41;

  --color-t: #ff6e00;
  --color-ct: #0091ff;

  --color-white: #ffffff;
  --golor-grey: #888888;
  --color-black: #1a1a1a;
  --color-red: #9f281a;

  --color-bomb: #f7580b;
  --color-defuse: #08a7f4;

  --color-moneys: #a7d32e;
  --color-spent: #ef281a;

  --ct-filer: brightness(0) saturate(100%) invert(37%) sepia(36%)
    saturate(3816%) hue-rotate(188deg) brightness(105%) contrast(102%);
  --t-filer: brightness(0) saturate(100%) invert(46%) sepia(29%) saturate(7273%)
    hue-rotate(6deg) brightness(110%) contrast(102%);
}
